<style type="text/css">
  .country_heading {
    font-family: 'Tangerine', serif;
    font-size: 40px;
    text-align: center;
  }
</style>

<%= render :partial => "index",:locals => { :countries => @countries} %>

<div class ="country_heading">Register Your Country</div>

<% form_for(@country) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'create' %>
  </p>
<% end %>
