<% form_for(@people) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Area %><br />
    <%= f.text_field :address %>
  </p>
 
  <p>
    <%= f.label :country_name %><br />
    <%= text_field :people, :country_name,{:size => 15} %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

